 *{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.calculator{
    width: 300px;
    height: 600px;
    box-shadow: 4px 4px 30px rgb(76, 76, 77) ;
    border-radius: 12px;
    background-color: rgb(19, 17, 17);
    overflow: hidden;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button{
    margin: 12px 0px;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
    flex: 0 0 22%;
    border: 1px solid black;
    border-radius: 12px;
    cursor: pointer;
    
}
.buttons{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
     
    justify-content: space-around;

}
.input{
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem;
    background-color: black;
    height: 150px;
    width: 89%;
    color: #ffffff;
    pointer-events: none;
    text-align:  right;
}
.btn-yellow{
    background-color: rgb(255, 162, 0);
}
.btn-green{
    background: #25ab03;
}
.btn-red{
    background: #df0606;
}